<header class="list-header">
  <div>
    <div class="list-title">Companies</div>
    <a href ng-click="$ctrl.onFilterChange({filter: ''})">Clear Filter</a>
  </div>
  <div class="notification-summary">
    <div>({{$ctrl.notifyList.length}}) active notifications</div>
    <a href ng-click="$ctrl.onNotifyAll()">Notify All</a>
  </div>
</header>
<company-card
  class="card"
  ng-repeat="tuskCompany in $ctrl.tuskCompanies"
  tusk-company="tuskCompany"
  notify-list="$ctrl.notifyList"
  on-group-select="$ctrl.onGroupSelected(groupName)"></company-card>